<p>---------------------------------------------------------------</p>
<p>
	<strong>Name: </strong>
	<!-- Show the name of a single playlist -->
	<%= @playlist.name %>
</p>

<p>
	<strong>Number of votes: </strong>
	<!-- Show the number of votes of a single playlist -->
	<%= @playlist.number_of_votes %>
</p>
<p>---------------------------------------------------------------</p>
